Source: flask-api
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Stefano Zacchiroli <zack@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
               python-all,
               python-flask,
               python-setuptools,
               python3-all,
               python3-setuptools,
               python-flask (>= 0.10.1),
               python3-flask (>= 0.10.1)
Standards-Version: 3.9.6
Homepage: http://www.flaskapi.org
Vcs-Git: git://anonscm.debian.org/python-modules/packages/flask-api.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/flask-api.git

Package: python-flask-api
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-flask (>= 0.10.1)
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
XB-Python-Egg-Name: Flask-API
Description: Browsable web APIs for the Flask micro web framework - Python 2.X
 Flask API is an implementation of the same web browsable APIs that the
 Django REST framework provides. It gives you properly content
 negotiated responses and smart request parsing.

Package: python3-flask-api
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-flask (>= 0.10.1)
Recommends: ${python3:Recommends}
Suggests: ${python3:Suggests}
XB-Python-Egg-Name: Flask-API
Description: Browsable web APIs for the Flask micro web framework
 Flask API is an implementation of the same web browsable APIs that the
 Django REST framework provides. It gives you properly content
 negotiated responses and smart request parsing.
