Source: flask-api
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Stefano Zacchiroli <zack@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
               python-all,
               python-flask,
               python-setuptools,
               python3-all,
               python3-setuptools,
               python-flask (>= 0.10.1),
               python3-flask (>= 0.10.1)
Standards-Version: 3.9.6
Homepage: http://www.flaskapi.org
Vcs-Git: git://anonscm.debian.org/python-modules/packages/flask-api.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/flask-api.git

Package: python-flask-api
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-flask (>= 0.10.1)
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
XB-Python-Egg-Name: Flask-API
Description: Browsable web APIs for Flask - Python 2.X
 Browsable web APIs for Flask.

Package: python3-flask-api
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-flask (>= 0.10.1)
Recommends: ${python3:Recommends}
Suggests: ${python3:Suggests}
XB-Python-Egg-Name: Flask-API
Description: Browsable web APIs for Flask
 Browsable web APIs for Flask.
